.welcome-page {
  text-align: center;
  color: white;
  padding-top: 100px;
  z-index: 20;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .welcome-page {
    grid-template-columns: 1fr;
  }
}
